*{ margin: 0; padding: 0;}
*{ box-sizing: border-box;}

.window{
  width: 480px;
  height: 320px;
  margin: 20px auto;
  overflow: hidden;
}

.images{
  position: relative;
}

.images > img{
  width: 100%;
  transition: all 0.5s;
  position: absolute;
  top: 0;
}
.images > img.current{
  top: 0;
  transform: translateX(0);
  z-index: 1;
  opacity: 1;
}
.images > img.enter{
  top: 0;
  transform: translateX(100%);
  opacity: 0;
}
.images > img.leave{
  top: 0;
  transform: translateX(-100%);
  z-index: 1;
  opacity: 0;
}
